
/* Стили для стрелки вниз
.dropdown__button::after {
  content: "";
  position: absolute;
  display: block;
border: solid white;
border-width: 0 rem(2) rem(2) 0;
display: inline-block;
padding: rem(3);
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
right: rem(5);
top: rem(20);
transition: all 0.3s ease;
}

.dropdown__item_open .dropdown__button::after{
  transform: rotate(-135deg);
  top: rem(23);
  transition: all 0.3s ease;
}
*/
.dropdown-menu {
  position: absolute;
  z-index: 2;
  transform: translateY(rem(-15));
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.dropdown__item_open .dropdown-menu{
  transform: translateY(rem(0));
  opacity: 1;
  visibility: visible;
}
